body {
	color: green;
	font-size: 20px;
	line-height: 24px;
}

@media screen and (min-width: 300px) {
	.span {
		color: yellow;
	}
}

.span {
	border-top: 1px solid;
	box-sizing: border-box;
	display: flex;
}


@media screen and (max-width: 500px) {
	.go {
		max-width: 100px;
	}
}

.container {
	max-width: 480px;
	margin: auto;
}
